.partners-container {
    height: 500px;
}

.partners-container h2 {
    font-size: 35px;
    margin-left: 80px;
}

.partners-container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 75px;
        margin: 200px 0;
}