.about-container {
    height: 500px;
    margin: 0 80px;
}

.about-container h2 {
    font-size: 35px;
}

.about-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 75px;
    margin-top: 100px;
    font-size: 20px;
    line-height: 32px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-container {
        height: 350px;
        margin: 0 40px;
    }

    .about-container p {
        margin-top: 48px;
    }

    .about-container h2 {
        margin-left: 30px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .about-container {
        height: 550px;
    }
    
    .about-container p {
        font-size: 20px;
        margin: 0 -10px;
    }

    .about-container h2 {
        margin-left: -10px;
    }
}

@media (min-width:320px) and (max-width:768px) {
    .about-container {
        margin-left: 25px;
        height: fit-content;
        margin-bottom: 25px;
    }

    .about-container p {
        font-size: 17px;
        margin: 0 25px;
        margin-top: 15px;
        
    }
}